<html>
<head>
    <meta charset="UTF-8">
    <title>page liste</title>
    <!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
    <link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
    <link type="text/css" rel="stylesheet" href="{$url_base}public/css/spinners.css"/>


    <script src="{$url_base}public/js/jquery.js"></script>
    <script src="{$url_base}public/js/jquery.min.js"></script>
    <script src="{$url_base}public/js/bootstrap.min.js"></script>

    <style>
        h1{
            color: #40007d;
        }
        body{
            background-color: #F5F5F5;
        }
    </style>
</head>
<body>
<img src="{$url_base}public/image/f4.png" class="resize" />
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SEN-FORAGE</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{$url_base}Accueil/accueil">Accueil</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Service abonnement
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{$url_base}Abonnement/liste">Liste des abonnement</a></li>
                    <li><a href="{$url_base}Abonnement/add">Enregistrement des abonnements</a></li>
                    <li><a href="{$url_base}Compteur/liste">Liste des compteur</a></li>
                    <li><a href="{$url_base}Compteur/listecoupe">Liste des compteur coupe</a></li>
                </ul>
            </li>
            <li class="dropdown active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Service facturation
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{$url_base}Facture/liste">Liste des factures regles</a></li>
                    <li><a href="{$url_base}Facture/add">Enregistrement des factures</a></li>
                    <li><a href="{$url_base}Reglement/liste">Liste des reglements</a></li>
                    <li><a href="{$url_base}Reglement/add">Enregistrement des reglements</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Service client
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{$url_base}Client/liste">Liste des clients</a></li>
                    <li><a href="{$url_base}Village/liste">Liste des village</a></li>
                    <li><a href="{$url_base}Village/add">Enregistrement des villages</a></li>
                </ul>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

            <li class="dropdown active">

                {if $i > 0}

                <a href="{$url_base}Facture/nonpaye" class="btn btn-primary">
                    <span class="badge badge-info">{$i}</span>
                    Factures non payées
                </a>
                {else}
                {/if}

            </li>
        </ul>
    </div>
</nav><div class="col-md-8 col-xs-12 col-md-offset-2" style="margin-top:150px;">
    <div class="panel panel-default">
        <div class="panel-heading"><center><h3>LISTE DES FACTURES REGLES</h3></center></div>
        <div class="panel-body">
            <div class="alert alert-success" style="font-size:18px; text-align:justify;">

            </div>
            {if isset($factures)}
            {if $factures != null}
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Identifiant</th>
                    <th>Numero facture</th>
                    <th>Date facturation</th>
                    <th>Date payement</th>
                    <th>Prix ht</th>
                    <th>TVA</th>
                    <th>prix ttc</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
                {foreach from=$factures item=facture}
                <tr>
                    <td>{$facture['id']}</td>
                    <td>{$facture['num_facture']}</td>
                    <td>{$facture['date_facturation']}</td>
                    <td>{$facture['date_payement']}</td>
                    <td>{$facture['prix_ht']}</td>
                    <td>{$facture['tva']}</td>
                    <td>{$facture['prix_ttc']}</td>

                    <td><a href="{$url_base}Facture/delete/{$facture['id']}">Supprimer</a></td>
                    <td><a href="{$url_base}Facture/edit/{$facture['id']}">Editer</a></td>
                    <td><a href="{$url_base}Facture/imprimer/{$facture['id']}">Imprimer</a></td>
                </tr>
                {/foreach}
            </table>
            {else}
            Liste vide
            {/if}
            {/if}
        </div>
        <a href="{$url_base}Facture/add">Ajout d'un facture</a>
    </div>
</div>

</body>
</html>
